<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'categories')}">
<body>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Categories</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Name
                                    </th>
                                    <th class="text-secondary opacity-7"></th>
                                    <th class="text-secondary opacity-7"></th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="category : ${categories}">
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold"
                                              th:text="${category.name}"></span>
                                    </td>
                                    <td class="align-middle">
                                        <a th:href="@{/categories/{categoryId} (categoryId=${category.id})}"
                                           class="text-secondary font-weight-bold text-xs">
                                            Details
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        <a th:href="@{/categories/{categoryId}/edit (categoryId=${category.id})}"
                                           class="text-secondary font-weight-bold text-xs">
                                            Edit
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        <a th:href="@{/categories/{categoryId}/delete (categoryId=${category.id})}"
                                           class="text-secondary font-weight-bold text-xs">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>