<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'categories')}">
<body>
<div class="container">

    <h1>Categories</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.name}"></td>
        </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>
</body>
</html>