<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'categories')}">
<body>
<div class="container">

    <h1>Category / New</h1>

    <div class="row">
        <form method="post" th:object="${category}">
            <label for="name">Category name:</label>
            <input th:field="*{name}" id="name" type="text">
            <hr>
            <button>Add New Category</button>
        </form>
    </div>

</div>
</body>
</html>