<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'categories')}">
<body>
<div class="container">
    <div class="row">

        <h1>Category / Edit</h1>

        <div class="row">
            <form method="post" th:object="${category}">
                <label for="name">Category name:</label>
                <input th:field="*{name}" id="name" type="text">
                <hr>
                <button>Edit Category</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>