<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:fragment="layout (template, menu)">
<head>
    <th:block th:replace="~{fragments/sourcelink/head-metadata}"/>
</head>
<body class="g-sidenav-show  bg-gray-100">


<aside th:replace="~{fragments/navigations :: sidebar}"></aside>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <nav th:replace="~{fragments/navigations :: navbar(${menu})}"></nav>

    <th:block th:insert="${template}"/>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

</main>

<th:block th:replace="~{fragments/sourcelink/scripts}"/>
</body>

</html>